* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D4F7D4;
}

.container {
    text-align: center;
    background-color: tomato;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #D4F7D4;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-family: Georgia, serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049; /* Darker green when hovered */
    transform: scale(1.05); /* Slightly increase the size for hover effect */
}

#status {
    margin-top: 20px;
    font-size: 18px;
}